
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background: #1C1C1C;
    color: #FFFFFF;
    padding: 1.25rem;
}

p{
    font-weight: 400;
    color: #D5D4D8;
    font-size: 1.25rem;
    margin-bottom: 3.125em;
}

h1{
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 2.25rem;
    margin-bottom: 0.3em;
}

h1 span{
    color: #55F991;
}

.head button{
    background-color: #42e67e;
    border: none;
    border-radius: 7px;
    color: #e2e1e1;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.75em;
}

.head button img{
    height: 1.2em;
    margin-right: 1em;
}

.head hr{
    border:1px solid #273549;
    margin: 2em 0;
}

.container{
    padding-left: 3.25em;
    padding-right: 3.25em;
    padding-top: 5em;
    padding-bottom: 2em;
    background: #1F2937;
    margin: 1rem auto;
    max-width: 550px;
}

.btn button{
    width: 211px;
    height: 39px;
    margin: 0.75em;
    background-color: #273549;
    border: none;
    border-radius: 5px;
    color: #42e67e; 
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head input {
    margin: 1em 0;
    background: transparent;
    text-align: center;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 1.25rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

::placeholder{
    color: white;
    text-align: center;
}

input:focus::placeholder {
    color: transparent;
}

.msg{
    display: inline;
}